*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.gallery h1{
	text-align: center;
	position: relative;
	top:2rem;
	font-size:2.5rem;
	color:black;
}

.gallery h1::after{
	content: '';
	position: absolute;
	top:110%;
	left:50%;
	width:0rem;
	height:rem;
	transform: translateX(-50%);
	border-bottom: 0.2rem solid black;
	transition: 0.3s all linear;
}

.gallery h1:hover:after{
	width:8rem;
}

.gallery-pic{
/*   height:60rem;*/
	position: relative;
	top:5rem;
	margin-left: 3rem;
	margin-right: 2rem;
}

@media screen and (max-width:765px){
	
	.gallery-pic{
		height:60rem;
	}
}

